body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: #ffffff;
    padding: 0 2px;
}

.header.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 40px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: #ffffff;
    padding: 0 20px;
    gap: 20px;
}

.top-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    padding: 50px;
}

.text {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.secondary-text {
    margin: 10px;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 10px;
}

button {
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    width: 100px;
    height: 25px;
    margin: 10px;
    border: none;
    border-radius: 7px;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9FAF8;
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.image-container {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
}

.image01, 
.image02,
.image03, 
.image04 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sea {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 5px;
}

.subtext {
    width: 150px;
    text-align: center;
    color: #1F2937;
    margin: 10px 0;
}

.wise-words-block {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center ;
}

.wise-words-container {
    display: flex;
    flex-direction: column;
    margin: 100px;
    width: 650px;
    align-self: center;
}

.wise-words {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quoth {
    display: block;
    text-align: end;
    font-size: 26px;
    font-weight: bolder;
    color: #1F2937;
}

.quoth a {
    color: blue;
}

.signup {
    display: flex;
    align-content: center;
    justify-content: center;
}

.signup-container {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    margin: 50px;
    padding: 30px;
    border-radius: 10px;
}

.text-box {
    display: flex;
    flex-direction: column;
}

.action-text, .signup-text {
    color: #E5E7EB;
}

.action-text {
    font-size: 22px;
    font-weight: bolder;
}

.action-signup-container {
    margin: 0px 70px;
}

.signup-button {
    border: 3px solid #E5E7EB;
    color: #E5E7EB;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #1F2937;
    color: #E5E7EB;
}

span {
    color: rgb(73, 190, 236);
}
